*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
background-image: url();

}
header{

height: 10vh;
background-image: url(r.jpg);
background-size: cover;
}
main{
background-image: url(fom5.jpg);
}
.cla{
    display: flex;
    justify-content: space-around;
    padding: 5rem;
}
li{
    
}
a{
display: flex;
text-decoration: none;
font-size: 1.5rem;
font-style: italic;
color: black;

}
h1{
    display: flex;
    justify-content: center;
justify-content: baseline;
color: aliceblue;
}