body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
    }
    body{
        background-image: url(fom3.jpg);
    }
    
    form{
    background-color: rgb(219, 210, 198);
    display: flex;
    flex-direction: column;
    top: 20%;
    left: 45%;
    position: absolute;
    transform: translate(-50%,-50%);
    gap: 1rem;
    padding: 3rem;
    height: 20%;
    border-radius: 20px;
   
}

.form1{

    background-color: rgb(219, 210, 198);
    display: flex;
    top: 60%;
    left: 45%;
    position: absolute;
    transform: translate(-50%,-50%);
    gap: 1rem;
    padding: 3rem;
    height: 20%;
    border-radius: 20px;

}
   textarea{

       width: 30vw;
       height: 20vh;
   }